@font-face {
  font-family: space;
  src: url(SpaceGrotesk-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
  font-family: space, Ubuntu, "Helvetica Neue", Arial, sans-serif;
  margin: auto;
}

body {
  background: #020E38;
  color: #fff;
}

a {
  color: #F6EC10;
}

@keyframes backdrop_enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes backdrop_anime1 {
  from {
    background-size: cover;
  }
  to {
    background-size: cover;
  }
}
@keyframes blink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.header {
  position: relative;
  text-align: center;
  padding: 2rem;
}
.header img {
  width: 100%;
  padding-top: 2rem;
  max-width: 1000px;
}

.container {
  max-width: 780px;
  position: relative;
  z-index: 2;
  margin: 0rem auto 0;
  padding: 1rem;
}

.container figure {
  width: 100%;
  display: flex;
}

h1 {
  text-transform: uppercase;
  word-spacing: normal;
  letter-spacing: 3px;
  font-variation-settings: "wght" 3000;
  line-height: 3rem;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

h2 {
  letter-spacing: 3px;
  font-variation-settings: "wght" 200;
  line-height: 1.7rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

h3 {
  letter-spacing: 3px;
  font-variation-settings: "wght" 600;
  line-height: 1.2rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 580px) {
  h3 {
    line-height: 1.7rem;
    font-size: 1.5rem;
  }
}
.logo_eth {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation-name: logo_anime;
  animation-duration: 10s;
}

@keyframes logo_anime {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.half_content {
  display: flex;
}

.neon_frame {
  padding: 3rem 3rem 0 3rem;
  margin: 2rem;
  width: 50%;
  border-radius: 16px;
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.neon_frame p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  text-align: left;
}
.neon_frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.neon_frame ul li {
  margin-bottom: 10px;
}
.neon_frame h3 {
  color: #F6EC10;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.neon_frame h4 {
  color: #9EEAFD;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.neon_frame figure {
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 0;
}
.neon_frame figure img {
  width: 100%;
}

.neon_frame::before {
  content: "";
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  box-shadow: 0 0 10px #9EEAFD, inset 0 0 10px #9EEAFD;
  border: #9EEAFD 2px solid;
  border-radius: 16px;
}

.neon_frame::after {
  content: "";
  width: 100px;
  display: block;
  height: 30px;
  position: absolute;
  background-color: #020E38;
  right: -20px;
  top: -15px;
  z-index: 3;
}

.box_content {
  height: 100%;
}

.button_neon {
  text-align: center;
  padding: 1rem 2rem;
  margin: 2rem 0;
  display: inline-block;
  text-decoration: none;
  position: relative;
  z-index: 20;
  text-transform: uppercase;
  text-shadow: 0 0 5px #F6EC10;
  letter-spacing: 2px;
  font-size: 1.4rem;
  font-weight: bold;
}
.button_neon:hover {
  animation-name: blink;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}

.button_neon:before {
  content: "";
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  box-shadow: 0 0 5px #F6EC10, inset 0 0 5px #F6EC10;
  border: #F6EC10 2px solid;
  border-radius: 8px;
}

.button_neon:after {
  content: "";
  width: 100px;
  display: block;
  height: 12px;
  position: absolute;
  background-color: #020E38;
  right: -20px;
  bottom: -9px;
  z-index: 3;
}

.rightside {
  padding-bottom: 10rem;
  padding-top: 3rem;
}

.rightside ul {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
}

.rightside ul li {
  margin: 0;
  padding: 0;
  color: #f1ddbf;
  text-transform: uppercase;
  font-variation-settings: "wght" 100;
  line-height: 1rem;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  letter-spacing: 5px;
}

@media screen and (min-width: 580px) {
  .rightside ul li {
    font-size: 1.6rem;
    line-height: 1.7rem;
  }
}
.formtop1 {
  margin-top: 15rem;
}

.formtop2 {
  margin-top: 5.7rem;
}

.afterline {
  display: flex;
  margin-top: 3rem;
}

.afterline a {
  text-decoration: none;
  border: 1px solid #f1ddbf;
  padding: 0.6rem 2rem;
  border-radius: 4px;
  line-height: 1.5rem;
  text-align: center;
}

.afterline a img {
  margin-right: 0.5rem;
  padding-top: 0.2rem;
  height: 1.1rem;
}

.afterline a:hover,
.afterline a:active {
  background-color: #1e1e44;
}

.full_container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.from_right,
.from_left {
  width: 100%;
  margin: 4rem 0;
}

.from_right span,
.from_left span {
  background-color: #F6EC10;
  display: block;
  height: 1px;
  width: 100%;
  margin: 0.6rem 0;
}

.from_right h4,
.from_left h4 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  width: 100%;
}

.from_right p,
.from_left p {
  max-width: 400px;
  width: 100%;
  margin: 0;
}

.from_left {
  padding-right: 30%;
  text-align: right;
}

.from_right {
  padding-left: 30%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
}

.list_people {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
}

.list_people li {
  padding: 0.5rem;
  margin: 0;
}

.list_people a {
  position: relative;
  display: block;
}

.list_people a:hover {
  transition: all 4s;
}

.list_people a:hover:after {
  opacity: 1;
  transition: all 0.5s;
}

.list_people a:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 66px;
  height: 66px;
  border-radius: 10000px;
  background-image: url(/assets/twitter.svg);
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  background-color: rgba(0, 0, 0, 0.61);
  z-index: 8;
  opacity: 0;
  transition: all 0.7s;
}

.list_people figure {
  width: 66px;
  border-radius: 1000px;
}

.list_people figure img {
  width: 66px;
  border-radius: 1000px;
}

.list_people p {
  letter-spacing: 0px;
  font-size: 0.7rem;
  padding: 0.4rem;
  text-align: center;
}

.list_people.no_twitter a:after {
  display: none;
}

.guita {
  list-style: none;
  display: flex;
  margin: 0;
}

.guita li {
  padding: 0.5rem;
  margin: 0;
}

.guita li a {
  display: block;
}

.guita li a:hover {
  opacity: 0.9;
}

.hide_until_twitter_is_working {
  display: none;
}

.call_for_hack {
  color: #9EEAFD;
  padding: 0.5rem 0.5rem 0.1rem;
  z-index: 20;
  width: 100%;
  text-align: center;
}

.call_container {
  border-bottom: rgba(34, 112, 157, 0.1725490196) 1px solid;
  padding: 0 0 0.6rem 0;
  margin-bottom: 0.4rem;
}

.call_for_hack h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  font-variation-settings: "wght" 600;
}

.call_for_hack a {
  background: #F6EC10;
  color: #020E38;
  padding: 0.3rem 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin: 0 0.2rem;
}

.call_for_hack a:hover {
  background: #124a6b;
}

.call_for_hack h3 {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
  display: inline;
  font-variation-settings: "wght" 400;
  display: block;
}

.call_for_hack h4 {
  font-size: 0.8rem;
}
