@font-face {
  font-family: space;
  src: url(SpaceGrotesk-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
  font-family: space, Ubuntu, "Helvetica Neue", Arial, sans-serif;
  margin: auto;
}

body {
  background: #22709c;
  color: #f1ddbf;
}

a {
  color: #f1ddbf;
}

.backdrop {
  animation-name: backdrop_enter;
  animation-duration: 2s;
  position: relative;
}
.backdrop::before,
.backdrop::after {
  position: fixed;
  background-image: url("backdrop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  content: "";
  top: 0;
  width: 51%;
  height: 100vh;
  animation-name: backdrop_anime1;
  animation-duration: 2s;
  left: 0;
}
.backdrop::after {
  left: 50%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

@keyframes backdrop_enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes backdrop_anime1 {
  from {
    background-size: cover;
  }
  to {
    background-size: cover;
  }
}

.header{
  z-index: 10;
  position: relative;
  text-align: center;
  padding: 3rem 1rem 1rem;
}

.container {
  max-width: 780px;
  position: relative;
  z-index: 2;
  margin: 0rem auto 0;
  padding: 1rem;
}
.container figure {
  width: 100%;
  display: flex;
}

h1 {
  text-transform: uppercase;
  word-spacing: normal;
  letter-spacing: 3px;
  font-variation-settings: "wght" 3000;
  line-height: 3rem;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}
h1 span {
  
}

h2 {
  letter-spacing: 3px;
  font-variation-settings: "wght" 200;
  line-height: 1.7rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}



h3 {
  letter-spacing: 3px;
  font-variation-settings: "wght" 600;
  line-height: 1.2rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 580px) {
  h3{
    line-height: 1.7rem;
  font-size: 1.5rem;
  }
  
}

.logo_eth {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation-name: logo_anime;
  animation-duration: 10s;
}

@keyframes logo_anime {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.inner_container {
  display: flex;
}

.leftside,
.rightside {
  width: 50%;
  padding: 1rem;
  margin: 0;
}

.leftside {
  border-right: 2px solid #f1ddbf;
  text-align: right;
  padding-top: 3rem;
}
.leftside p {
  margin-top: 5rem;
}

.rightside {
  padding-bottom: 10rem;
  padding-top: 3rem;
}
.rightside ul {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
}
.rightside ul li {
  margin: 0;
  padding: 0;
  color: #f1ddbf;
  text-transform: uppercase;
  font-variation-settings: "wght" 100;
  line-height: 1rem;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  letter-spacing: 5px;
}

@media screen and (min-width: 580px) {
  .rightside ul li {

    font-size: 1.6rem;
    line-height: 1.7rem;

  }
}

.formtop1 {
  margin-top: 15rem;
}

.formtop2 {
  margin-top: 5.7rem;
}

.afterline {
  display: flex;
}
.afterline a {
  text-decoration: none;
  border: 1px solid #f1ddbf;
  padding: 0.6rem 2rem;
  border-radius: 4px;
  line-height: 1.5rem;
  text-align: center;
}
.afterline a img {
  margin-right: 0.5rem;
  padding-top: 0.2rem;
  height: 1.1rem;
}
.afterline a:hover,
.afterline a:active {
  background-color: #1e1e44;
}

.full_container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.from_right,
.from_left {
  width: 100%;
  margin: 4rem 0;
}
.from_right span,
.from_left span {
  background-color: #f1ddbf;
  display: block;
  height: 1px;
  width: 100%;
  margin: 0.6rem 0;
}
.from_right h4,
.from_left h4 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  width: 100%;
}
.from_right p,
.from_left p {
  max-width: 400px;
  width: 100%;
  margin: 0;
}

.from_left {
  padding-right: 30%;
  text-align: right;
}

.from_right {
  padding-left: 30%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
}

.list_people {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
}
.list_people li {
  padding: 0.5rem;
  margin: 0;
}
.list_people a {
  position: relative;
  display: block;
}
.list_people a:hover {
  transition: all 4s;
}
.list_people a:hover:after {
  opacity: 1;
  transition: all 0.5s;
}
.list_people a:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 66px;
  height: 66px;
  border-radius: 10000px;
  background-image: url(/assets/twitter.svg);
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  background-color: rgba(0, 0, 0, 0.61);
  z-index: 8;
  opacity: 0;
  transition: all 0.7s;
}
.list_people figure {
  width: 66px;
  border-radius: 1000px;
}
.list_people figure img {
  width: 66px;
  border-radius: 1000px;
}
.list_people p {
  letter-spacing: 0px;
  font-size: 0.7rem;
  padding: 0.4rem;
  text-align: center;
}

.guita {
  list-style: none;
  display: flex;
  margin: 0;
}
.guita li {
  padding: 0.5rem;
  margin: 0;
}
.guita li a {
  display: block;
}
.guita li a:hover {
  opacity: 0.9;
}
.hide_until_twitter_is_working {
  display: none;
}

.header{
  padding-top: 12rem;
}

.call_for_hack{
  color: #22709c;
  background: #f1ddbf;
  padding: 0.5rem 0.5rem 0.1rem;
position: fixed;
  z-index: 20;
  width: 100%;
  text-align: center;
}

.call_for_hack::before{
  left: 0;
  width: 100%;
  height: 196px;
  background-image: url(/assets/arc.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 200% auto;
  content: "";
  position: absolute;
  bottom: -196px;
}

.call_container{
 border-bottom: #22709d2c 1px solid;
 padding: 0 0 0.6rem 0;
 margin-bottom: 0.4rem;
}

.call_for_hack h2{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  display: inline;
  font-variation-settings: "wght" 600;
}

.call_for_hack a{
  background: #22709c;
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin: 0 0.2rem;
}
.call_for_hack a:hover{
  background: #124a6b;
}

.call_for_hack h3{
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
  display: inline;
  font-variation-settings: "wght" 400;
  display: block;
}

.call_for_hack h4{
  font-size: 0.8rem;
}
